@use 'constants' as c;
@use 'partials' as p;
@use 'queries';

// Layout

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Commissioner',
        sans-serif;
}

.main,
.modal {
    margin-left: auto;
    margin-right: auto;
    padding: 0 c.$layoutGap;
}

.header {
    top: 0;
    width: 100%;
    position: absolute;
}

.header_inner {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    width: auto;
    display: block;
}

.header_navigation {
    gap: 2.5em;
    float: right;
    list-style-type: none;
    color: c.$col-neutral_white;
}

.main,
.modal {
    max-width: c.$maxWidth;
    box-sizing: border-box;
}

.project {
    display: grid;
    gap: c.$layoutGap;    
}

.project_vendor {
    margin-bottom: 1.5rem;
    height: calc(var(--vendorPinHeight, 56px) / 2);
    margin-top: calc(var(--containerPadding) * -1);
}

.vendor_logo {
    left: 50%;
    width: auto;
    position: absolute;
    height: var(--vendorPinHeight);
    transform: translate(-50%, -50%);
}

.description_footer {
    gap: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}

// Styling

.page {
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: c.$col-neutral_gray-950;
}

.topShadow {
    top: 0;
    left: 0;
    width: 100%;
    height: 192px;
    position: absolute;
    background: linear-gradient(
        rgba(0,0,0,0.66),
        transparent
    );
}

.backdrop_image {
    width: 100%;
    height: auto;
    display: block;
}

.modal {
    background-color: transparent;
}

.pledge,
.container {
    border-radius: 0.5rem;
    padding: var(--containerPadding);
}

.pledge {
    border: 1px solid c.$col-neutral_gray-800;
}

.container {
    background-color: c.$col-neutral_white;
}

.link {
    color: inherit;
    text-decoration: none;
}