@use 'constants' as c;
@use 'partials' as p;
@use 'queries';

// Defaults

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Commissioner',
        sans-serif;
}

.link {
    color: inherit;
    text-decoration: none;
}

.separator {
    border-style: solid;
    border-color: c.$col-neutral_gray-850;
}

// Header

.header {
    top: 0;
    width: 100%;
    position: absolute;
}

.header_inner {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    width: auto;
    display: block;
}

.header_navigation {
    gap: 2.5em;
    float: right;
    list-style-type: none;
    color: c.$col-neutral_white;
}

// Main & Modal

.main,
.modal {
    border: none;
    margin-left: auto;
    margin-right: auto;
    max-width: c.$maxWidth;
    max-height: 100%;
    box-sizing: border-box;
    padding: 0 c.$layoutGap;
}

.modal {
    background-color: transparent;
}

.modal[open] {
    padding: 0;

    &::backdrop {
        background: rgb(0, 0, 0, 0.4);
    }

    & > .container {
        border-radius: 0%;
    }
}

// Project

.project {
    display: grid;
    gap: c.$layoutGap;    
}

.project_vendor {
    margin-bottom: 1.5rem;
    height: calc(var(--vendorPinHeight, 56px) / 2);
    margin-top: calc(var(--containerPaddingY) * -1);
}

.vendor_logo {
    left: 50%;
    width: auto;
    position: absolute;
    height: var(--vendorPinHeight);
    transform: translate(-50%, -50%);
}

.page {
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: c.$col-neutral_gray-950;
}

// Project Stats

.project_stats {
    display: grid;
    row-gap: var(--containerPaddingY);
}

.stats {
    display: grid;
    margin: 0 auto;
    width: fit-content;
    row-gap: calc(c.$rowGap - 1rem);
    column-gap: calc(c.$columnGap * 2.66);
    padding-bottom: 1rem;
}

// Project Progress

.project_progress {
    --progressBarHeight: 0.75rem;
    --progressBarColor: #{c.$col-neutral_gray-950};
    --progressValueColor: #{c.$col-primary_cyan-500};
    --progressBarRadius: calc(var(--progressBarHeight) / 2);
    
    width: 100%;
    -webkit-appearance: none;
    height: var(--progressBarHeight);
}

.project_progress::-webkit-progress-bar {
    border-radius: var(--progressBarRadius);
    background-color: var(--progressBarColor);
}

.project_progress::-webkit-progress-value {
    border-radius: var(--progressBarRadius);
    background-color: var(--progressValueColor);
}

.project_progress::-moz-progress-bar {
    border-radius: var(--progressBarRadius);
    background-color: var(--progressValueColor);
}

// Decoration

.topShadow {
    top: 0;
    left: 0;
    width: 100%;
    height: 192px;
    position: absolute;
    background: linear-gradient(
        rgba(0,0,0,0.66),
        transparent
    );
}

.backdrop_image {
    width: 100%;
    display: block;
}