@use '../constants' as c;

.button {
    --padding-x: 2em;
    --padding-y: 1.25em;
    
    border: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    font-family: inherit;
    border-radius: var(--padding-x);
    padding: var(--padding-y) var(--padding-x);
}

.button_icon {
    width: auto;
    height: 100%;
    display: block;
}

.button_label {
    order: 1;
}

.button-accent {
    color: c.$col-neutral_white;
    background-color: c.$col-primary_cyan-500;
}

.button-accent:hover {
    background-color: c.$col-primary_cyan-300;
}

.button-disabled {
    cursor: default;
}

.button-hasIcon {
    padding: 0;
    background-color: transparent;
}