@use '../constants' as c;

.pledgeForm {
    display: grid;
    row-gap: c.$rowGap;
}

.pledgeForm_input,
.pledgeForm_input .checkmark {
    border-radius: 50%;
}

.pledgeForm_input {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    align-items: center;
    justify-content: center;
    border: 1px solid c.$col-neutral_gray-700;
}

.pledgeForm_input .checkmark {
    display: none;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: c.$col-primary_cyan-500;
}

.pledgeForm_input input[type='radio'] {
    @include c.visuallyHidden();
    width: 100%;
    height: 100%;
}

.pledgeForm_input input[type='radio']:checked + .checkmark {
    display: inline-block;
}

.pledgeForm_confirm {
    border: none;
}